@page
@model AboutModel

<h1>About page</h1>

<h2>@Model.Name @Model.Age</h2>

@* <h2>Request info</h2> *@
@* <ul> *@
    
@* @foreach(var h in Request.Headers) *@
@* { *@
@*         <li>@h.Key -> @h.Value</li> *@
@* } *@
    
@* </ul> *@
