@page
@model EmployeeModel
@{
}
<div>@Model.Message</div>

<form method="post">
    <input type="text" name="name" />
    <input type="number" name="age" />
    <input type="submit" value="Send" />
</form>
