@page
@using Models;
@model AspRPFlightsApp.Pages.AirportCreateModel
@{
}

<h2>Add new Airport</h2>
<form method="post">
    <div>
        <label>Title</label>
        <input name="Title" type="text" />
    </div>
    <div>
        <select name="CityId">
            @foreach(City city in Model.Cities)
            {
                <option value="@city.Id">@city.Title</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add new Airport" />
    </div>
</form>
