@page
@model AspRPFlightsApp.Pages.CityCreateModel
@{
}

<h2>Add new City</h2>
<form method="post">
    <div>
        <label>Title:</label><br />
        <input type="text" name="Title" />
    </div>
    <div>
        <input type="submit" value="Add new City" />
    </div>
</form>